.montserrat {
    font-family: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
/*    background: #F9F6F1*/
}

.burger {
    display: none;
}


.burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.burger-line {
    width: 100%;
    height: 3px;
    background-color: black;
}

.wrapper {
    width: 100%;

}

.header {
    
    padding-top: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    
}

.row {
    display: flex;
    
    justify-content: space-between;
    width: 918px;

}

.row_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.ror {
    margin: 0 -35px;
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

letter-spacing: 0.03em;

/* Black */

color: #212121;
}



.logotype {
    margin: 0 -20px;
    font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 29px;
letter-spacing: 0.05em;
text-transform: uppercase;

}

.black {
    color: #212121;
}

.white {
    color: white;
}

.row_header_logotype {
    margin: 0 20px;
}

.row_header_select {
    margin: 0 35px;
}

.bi {
    width: 91px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width:600px) {
    .burger {
        display: block;
}
    .ror, .bi {
        display: none;
    }
    
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.free_shipping {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 69px;
    background-color: #212121;
    color: white;
    
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.free {
    margin: auto;
    text-align: center
}

.free_shipping_title {
    font-family: Montserrat;
    font-style: normal;
font-size: 30px;
line-height: 37px;
letter-spacing: 0.02em;
}

.free_shipping_present {
    font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 21px;
line-height: 26px;
}

.range {
    width: 100%;
    
}



.discounts {
    width: 100%;
    height: 180px;
    background-color: #212121;
    color: white;
    
}

.discounts_white {
    width: 100%;
    
    
}

.footer {
    width: 100%;
    height: 386px;
}

.ko_ka {
    display: flex;
}

.ko_ko {
    width: 570px;
    height: 224px;
    margin-top: 172px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.ko_ko_black {
    font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 37px;
letter-spacing: 0.02em;
}

.ko_ko_bold {
    font-style: normal;
font-weight: bold;
font-size: 55px;
line-height: 67px;
letter-spacing: 0.04em;
}

.ko_button {
    width: 240px;
    height: 55px;
    background-color: #D7B399;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

letter-spacing: 0.03em;

color: #FFFFFF;
    text-align: center;
    display: flex;
}

.ko_button a {
    margin: auto;
}

.ko_price {
    background-image: url("https://i.imgur.com/xytdMrM.png");
    width: 556px;
    height: 377px;
    margin-top: 138px;
    text-align: end;
    font-style: normal;
font-weight: bold;
    margin-bottom: 130px;
}

.ko_price_black {
    font-size: 24px;
line-height: 29px;
text-align: right;
letter-spacing: 0.05em;
text-decoration-line: line-through;
text-transform: uppercase;
}

.ko_price_red {
    font-size: 42px;
line-height: 51px;
text-align: right;
letter-spacing: 0.02em;
text-transform: uppercase;

color: #D84033;
}

.ko {
    position: relative;
    height: 100%;
}

.ko_selector {
    width: 205px;
    height: 7px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);    
}

@media (max-width:997px) {
    .ko_ka {
        flex-direction: column;
        align-items: center;
    }
    .ko_ko {
        align-items: center; 
    }
    
    ko_ka
}

@media (max-width:500px) {
    .ko_ka {
        transform: scale(0.7);
    }
    
    .ko_ko {
        margin-top: -60px;
    }
    
    .ko_price p {
        margin-right: 40px;
    }
    
    .ko_price {
        margin-bottom: -80px;
    }

}

.select {
    width: 40px;
    height: 100%;
    background: #CECECE;
    
}

.light {
    background: #D7B399;
}

.range {
    background: #F4F4F4;
}

.range_collections {
    display: flex;
    justify-content: space-between;
}

.range_collection {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 15px;
    background: #F4F4F4;;
}



.range_man_photo {
    width: 190px;
    height: 171px;
    margin-top: 19px;
}

.range_title {
    font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;
letter-spacing: 0.03em;
}


.range_description {
    font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
margin-top: 25px;
}

.range_watch_models {
    width: 80px;
    height: 30px;
    background-color: #D7B399;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.range_catalog {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.r-t {
    width: 277px;
    height: 236px;
    background-image: url(https://i.imgur.com/CDW9Hzc.png);
    background-repeat: no-repeat;
    position: relative;
}

.range_catalog a {
    position: absolute;
    bottom: 0;
    margin-bottom: 24px;
    margin-left: 30px;
    font-style: normal;
font-weight: 300;
font-size: 21px;
line-height: 26px;
/* identical to box height */

letter-spacing: 0.03em;
}

@media (max-width:997px) {
    .range_collections {
        grid-template-columns: repeat(2, 1fr);

        justify-items: legacy;
    }
    
    .range_collection_s1 {
        grid-column: 1/3;
    }

    .range_collection_s2 {
        grid-column: 3/5;
    }
    
    .range_catalog {
        grid-template-columns: repeat(2,1fr);
    }
}

.range_new_models {
    padding-top: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F4F4F4;
    padding-bottom: 150px;
}

.range_new_title {
    font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 44px;
/* identical to box height */

letter-spacing: 0.04em;
text-transform: uppercase;

/* Black */

color: #212121;
    text-align: center
}


.new_item_cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    margin-top: 100px;
}

.new_item_card {
    display: flex;
    flex-direction: column;

    align-items: center;

}

.new_item_card IMG {
    margin-top: 22px;
}

.new_item_card_coc {
    margin-top: 25px;
}

.new_item_card_40 {
    margin-top: 15px;
    padding-bottom: 25px;
}

.new_item_button {
    width: 220px;
height: 55px;
    background: #D7B399;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height */

letter-spacing: 0.03em;

color: #FFFFFF;
}

@media (max-width:797px) {
    .new_item_cards {
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
    margin-top: 100px;
}
}

@media (max-width:450px) {
    .new_item_cards, .range_catalog, .range_collections {
    display: flex;
        flex-direction: column;
        align-items: center;
}
}


.ic {
    margin-left: 9px;
}


.discounts {
    display: flex;
    justify-content: center;
    align-items: center;

}

.discounts p {
    font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 37px;
/* identical to box height */

text-align: center;
letter-spacing: 0.02em;
}

.input_email_form {
    width: 255px;
height: 40px;
    background: #F9F6F1;
    font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 15px;
/* identical to box height */

letter-spacing: 0.02em;

color: #8D8D8D;
    display: flex;
    
    align-items: center;
    margin-left: 60px;
}

.input_email_form a {
    margin-left: 20px;
}

.discounts_button {
    width: 185px;
height: 40px;
    background: #D7B399;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
}

.discounts_button a {
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

color: #FFFFFF;
}

@media (max-width:500px) {
    .discounts {
    flex-direction:column;
        justify-content: space-around;
}
    .discounts_button {
    
    margin: 0 auto;
}
    .input_email_form {
        margin: 0 auto;
    }
}



.footer_top {
    background-color: #212121;
    color: white;
    padding-bottom: 73px;
    padding-top: 80px;
}

.mn-desktop_container {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}

#footer_table {

    display: flex;
    
    flex-direction: column;
}

.footer_table2 
  { 
    display: grid;
    
    grid-template-columns: 200px 200px 200px 200px;
    
  }


.l_t {
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
/* or 157% */
    list-style-type: none;
    display: flex;
    align-items: center;
    color: #CBCFD4;
    padding-bottom: 10px;
}

.l_t a {
    margin-left: 5px;
}

.f_t {
    font-style: normal;
font-weight: bold;
font-size: 10px;
line-height: 12px;
/* identical to box height */

display: flex;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
    padding-bottom: 20px;
}

.footer_top_title {
    width: 218px;

}

.footer_top_title2 {
    margin-top: 20px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 23px;
    padding-top: 30px;
}